body {
  margin: 0;
  font-family: 'Alice', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  color: white;
  font-family: 'Alice', serif;

}

.ant-carousel .slick-dots li::after {
  background-color: white !important;
}